{% extends "base.html" %}
{% block title %}Book a Reservation{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Book a Reservation</h2>

  

  {% if existing_reservation %}
    <div class="alert alert-info text-center">
      You already have a reservation.
      <a href="{% url 'manage_reservation' existing_reservation.id %}" class="btn btn-reserve ms-2">
        Manage My Booking
      </a>
    </div>
  {% endif %}

  <form method="post" class="reservation-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">
      {% if existing_reservation %}Update Reservation{% else %}Book Now{% endif %}
    </button>
  </form>
</div>


{% endblock %}
